.results {
    width: 100%;
    background: #e6e6e6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-list-container {
    width: 100%;
    max-width: 400px;
    background: #85bb65;
}

.results-salary-name {
    text-align: center;
}

.results-list-jsx {
    width: 100%;
    background: #fcfcfc;
    display: grid;
    font-size: 20px;
    grid-template-columns: 12% 35% 41% 12%; 
}

.results-list-jsx:nth-child(even){
    background: #85bb65;
}

.results-list-jsx:nth-child(odd){
    background: #ffcb00;
}

.results-list-rank {
    grid-column: 1/2;
    text-align: center;
    border: 1px black solid;
}

.results-list-salary {
    grid-column: 2/3;
    text-align: center;
    border: 1px black solid;
}

.results-list-city {
    grid-column: 3/4;
    padding-left: 10px;
    border: 1px black solid;
}

.results-list-state {
    grid-column: 4/5;
    text-align: center;
    border: 1px black solid;
}

.results-list-header {
    width: 100%;
    background: #fcfcfc;
    display: grid;
    font-size: 16px;
    font-weight: 700;
    grid-template-columns: 12% 35% 41% 12%; 
    text-align: center;
}

.results-list-city-header {
    grid-column: 3/4;
    border: 1px black solid;
}

.loading-container {
    width: 100%;
    max-width: 400px;
    height: calc(100vh - 110px);
    background: #fcfcfc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-image {
    color: red;
}