.navbar-main {
    height: 110px;
    width: 100%;
    background: #142532;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

.navbar-top {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #666666;
}

.navbar-top-left {
    height: 45px;
    display: flex;
    flex-direction: row;
}

.logo {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-top: 5px;
}

.navbar-title {
    font-size: 30px;
    color: #85bb65;
    margin: 7px 0px 0px 7px;
}

.gold-text {
    color: #ffcb00;
}

.navbar-top-right {
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.drawer {
    background-color: #142532 !important;
}

.menu-item {
    color: white !important;
    font-size: 20px !important;
}

.desktop-menu {
    display: none;
}

.navbar-menu-home {
    color: #85bb65;
}

.navbar-menu-about {
    color: #ffcb00;
}

.navbar-bottom {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-search-container {
    height: 37px;
    width: calc(100% - 40px);
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #666666;
    border-radius: 3px;
}

.navbar-search-container div {
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-search-container input {
    height: 33px;
    width: calc(100% - 35px);
    border: none;
    text-align: left;
    font-size: 17px;
    padding: 0px;
}

@media (min-width: 800px) {
    .navbar-main {
        height: 160px;
    }

    .navbar-top {
        height: 80px;
    }

    .navbar-top-left {
        height: 70px;
    }

    .logo {
        height: 65px;
        width: 65px;
        margin-left: 10px;
        margin-top: 5px;
    }

    .navbar-title {
        font-size: 45px;
        color: #85bb65;
        margin: 7px 0px 0px 7px;
    }

    .mobile-menu {
        display: none;
    }

    .navbar-top-right {
        width: 250px;
    }

    .desktop-menu {
        width: 100%;
        display: flex;
        color: white;
        font-size: 25px;
        font-weight: 700;
        justify-content: space-around;
        align-items: center;
    }

    .navbar-bottom {
        height: 80px;
    }

    .navbar-search-container {
        height: 45px;
        width: 600px;
    }
    
    .navbar-search-container div {
        height: 45px;
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .navbar-search-container input {
        height: 45px;
        width: calc(100% - 49px);
    }
}

.link {
    text-decoration: none !important;
}